<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nombre Usuaro</h2>
            <h4>correo@electronico.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Nombre usuario">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Paginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Tablero de Control</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Post</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articulos">Articulos</a>

    <mat-divider></mat-divider>
    
    otro menu
</mat-nav-list>